@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h3, h2 {
  font-family: 'Teko', sans-serif;
}

h3, h2 {
  font-size: 2rem;
}

img {
  border: 1px solid white;
}

span {
  font-weight: bold;
}

#form-address{
  margin:20px;
}

#form-contact {
  margin:20px;
}


#form-name {
  margin:20px;
}


#pizzasection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 30px;
}
.pizzabox {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
padding: 20px;
max-width: 25%;
}
